@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
html, body {
  font-family: "inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #191919;
  line-height: 1.5;
}

.wrapper {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.btn-yellow {
  background-color: #f9d783;
  border: 1px solid #f9d783;
  color: #191919;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 545;
  font-size: 16px;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
}
.btn-yellow #arrow {
  margin-left: 5px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 545;
  font-size: 16px;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
}
.btn-black #arrow {
  margin-left: 5px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #f9d783;
  border: 1px solid #f9d783;
  color: #191919;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 545;
  font-size: 16px;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
}
.btn-transparent #arrow {
  margin-left: 5px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.section-title p {
  color: #F94D1C;
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.nav-section {
  background-color: #F0EFE9;
  display: flex;
  padding: 16px;
}
.nav-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 68px;
}
.nav-section .container .bars {
  font-size: 25px;
  background-color: transparent;
  border: none;
}
@media (min-width: 992px) {
  .nav-section .container .bars {
    display: none;
  }
}
.nav-section .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  .nav-section .container .menu {
    display: block;
  }
}
.nav-section .container .menu .top-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
}
@media (min-width: 1400px) {
  .nav-section .container .menu .top-menu {
    justify-content: space-between;
  }
}
.nav-section .container .menu .top-menu .contact-information {
  display: none;
  align-items: center;
}
@media (min-width: 1400px) {
  .nav-section .container .menu .top-menu .contact-information {
    display: flex;
  }
}
.nav-section .container .menu .top-menu .contact-information .phone {
  padding-right: 30px;
  margin-right: 28px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter";
  font-size: 1.2em;
  color: #191919;
}
.nav-section .container .menu .top-menu .contact-information .phone a {
  margin-right: 6px;
  color: #191919;
  transition: all 0.3s ease-in-out;
}
.nav-section .container .menu .top-menu .contact-information .phone a:hover {
  color: #f7b206;
}
.nav-section .container .menu .top-menu .contact-information .email {
  padding-right: 30px;
  margin-right: 29px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter";
  font-size: 1.2em;
  color: #191919;
}
.nav-section .container .menu .top-menu .contact-information .email a {
  margin-right: 9px;
  color: #191919;
  transition: all 0.3s ease-in-out;
}
.nav-section .container .menu .top-menu .contact-information .email a:hover {
  color: #f7b206;
}
.nav-section .container .menu .top-menu .contact-information .location {
  font-family: "Inter";
  font-size: 15px;
  font-size: 1.2em;
  color: #191919;
}
.nav-section .container .menu .top-menu .contact-information .location a {
  margin-right: 8px;
  color: #191919;
  transition: all 0.3s ease-in-out;
}
.nav-section .container .menu .top-menu .contact-information .location a:hover {
  color: #f7b206;
}
.nav-section .container .menu .top-menu .social-media a {
  color: black;
  margin-left: 18px;
  font-size: 1.3em;
  transition: all 0.3s ease-in-out;
}
.nav-section .container .menu .top-menu .social-media a:hover {
  color: #f7b206;
}
.nav-section .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.nav-section .container .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 38px;
  position: relative;
}
.nav-section .container .menu .main-menu nav a.active {
  font-weight: 500;
}
.nav-section .container .menu .main-menu nav a.active::after, .nav-section .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}

.showcase {
  background-color: #f0efe9;
  position: relative;
  z-index: 0;
}
.showcase .background-lines {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}
@media (min-width: 860px) {
  .showcase .background-lines {
    display: block;
  }
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans";
  font-size: 40px;
  font-weight: 700;
  color: #191919;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 56px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-size: 16px;
  margin-top: 35px;
  margin-bottom: 35px;
  padding-left: 10px;
  padding-right: 10px;
  color: rgba(25, 25, 25, 0.7);
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    margin-right: 10px;
    display: inline-block;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1430px) {
  .showcase .container img {
    display: block;
  }
}

.logos .container {
  display: none;
  justify-content: center;
}
@media (min-width: 1398px) {
  .logos .container {
    display: flex;
  }
}
.logos .container img {
  margin-top: 72px;
  padding-right: 50px;
}

.features .container {
  display: flex;
}
@media (min-width: 600px) {
  .features .container {
    border-color: rgba(25, 25, 25, 0.2);
    border-width: 1.2000000477px;
    border-style: solid;
    border-radius: 2px;
    width: 1700px;
    height: 700px;
    margin-top: 80px;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
.features .container .section-title-button p {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #f94d1c;
  margin-top: 161px;
}
@media (max-width: 700px) {
  .features .container .section-title-button p {
    margin-top: 30px;
  }
}
.features .container .section-title-button h2 {
  font-family: "DM Sans";
  font-size: 45px;
  font-weight: bold;
  line-height: 54px;
  font-style: normal;
  color: #191919;
  margin-top: 17px;
}
@media (max-width: 700px) {
  .features .container .section-title-button h2 {
    font-size: 35px;
  }
}
.features .container .section-title-button .btn-yellow {
  width: 460px;
  margin-top: 48px;
}
@media (max-width: 686px) {
  .features .container .section-title-button .btn-yellow {
    width: 238px;
    margin-bottom: 5px;
  }
}
@media (max-width: 1286px) {
  .features .container .section-title-button {
    margin: 0 auto;
    text-align: center;
  }
}
.features .container .feature-advice {
  display: none;
}
@media (min-width: 1234px) {
  .features .container .feature-advice {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
.features .container .feature-advice .child-1 {
  margin-top: 190px;
  margin-left: 103px;
}
.features .container .feature-advice .child-2 {
  margin-left: 103px;
  margin-top: -80px;
}
.features .container .feature-advice article img {
  width: 40px;
  height: 40px;
  border-width: 1px;
  margin-bottom: 28px;
}
.features .container .feature-advice article h3 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}
.features .container .feature-advice article p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
  font-style: normal;
  color: rgba(25, 25, 25, 0.7);
}

.about-company .container {
  display: flex;
  position: relative;
}
.about-company .container .founder {
  display: none;
  position: relative;
}
@media (min-width: 1400px) {
  .about-company .container .founder {
    display: inline;
  }
}
.about-company .container .founder .picture-woman {
  width: 533px;
  height: 615px;
  z-index: 1;
  margin-top: 122px;
  margin-bottom: 120px;
  margin-left: 156px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.about-company .container .founder .square-picture {
  position: absolute;
  width: 368px;
  height: 180px;
  top: 0;
  left: 0;
  margin-left: 100px;
  margin-top: 515px;
  z-index: 2;
  background: #beebff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.about-company .container .founder .square-picture h4 {
  width: 247px;
  height: 23px;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  color: #191919;
  margin-top: 33px;
  margin-left: 24px;
}
.about-company .container .founder .square-picture p {
  width: 327px;
  height: 47px;
  font-family: "Inter";
  font-style: italic;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #191919;
  margin-top: 22px;
  margin-left: 24px;
}
.about-company .container .founder .square-picture .redtext {
  color: #F94D1C;
}
.about-company .container .consulting-credit {
  width: 532px;
  height: 589.3px;
  margin-top: 121px;
}
@media (max-width: 550px) {
  .about-company .container .consulting-credit {
    margin-top: 40px;
  }
}
@media (min-width: 1400px) {
  .about-company .container .consulting-credit {
    margin-left: 199px;
  }
}
.about-company .container .consulting-credit .about-company-text #header {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #F94D1C;
}
.about-company .container .consulting-credit .about-company-text h2 {
  font-family: "DM Sans";
  font-size: 45px;
  font-weight: bold;
  line-height: 54px;
}
@media (max-width: 700px) {
  .about-company .container .consulting-credit .about-company-text h2 {
    font-size: 35px;
  }
}
.about-company .container .consulting-credit .about-company-text p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  line-height: 32px;
  color: rgba(25, 25, 25, 0.7);
}
@media (max-width: 700px) {
  .about-company .container .consulting-credit .about-company-text p {
    line-height: 26px;
  }
}
.about-company .container .consulting-credit .about-company-buttons {
  display: flex;
}
.about-company .container .consulting-credit .about-company-buttons .btn-black {
  width: 180px;
  height: 56px;
}
@media (max-width: 332px) {
  .about-company .container .consulting-credit .about-company-buttons .btn-black {
    display: none;
  }
}
.about-company .container .consulting-credit .about-company-buttons .play-video {
  width: 48px;
  height: 48px;
  border-color: #191919;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: #191919;
  margin-top: -1px;
  margin-left: 39px;
}
.about-company .container .consulting-credit .about-company-buttons .play-video:hover {
  background-color: #f9d783;
  border: 1px solid #f9d783;
  color: #191919;
  transition: 0.3s ease-in-out;
}
@media (max-width: 336px) {
  .about-company .container .consulting-credit .about-company-buttons .play-video {
    display: none;
  }
}
.about-company .container .consulting-credit .about-company-buttons .intro-video {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  color: #191919;
  margin-left: 16px;
  margin-top: 15px;
}
@media (max-width: 336px) {
  .about-company .container .consulting-credit .about-company-buttons .intro-video {
    display: none;
  }
}

.why-choose-us {
  position: relative;
  z-index: 0;
}
.why-choose-us .backround-square {
  width: 1057px;
  height: 425px;
  background: #f0efe9;
  z-index: -2;
  position: absolute;
  right: 0;
  margin-top: 266px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1465px) {
  .why-choose-us .backround-square {
    display: none;
  }
}
.why-choose-us .container {
  display: flex;
}
@media (max-width: 1399px) {
  .why-choose-us .container .header-tags {
    text-align: center;
  }
}
.why-choose-us .container .header-tags h2 {
  font-family: "DM Sans";
  font-size: 45px;
  font-weight: bold;
  line-height: 55px;
  font-style: normal;
  text-align: left;
  color: #191919;
  margin-top: 18px;
  margin-bottom: 48px;
  white-space: nowrap;
}
@media (max-width: 380px) {
  .why-choose-us .container .header-tags h2 {
    font-size: 30px;
  }
}
.why-choose-us .container .header-tags .header-tags-p {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  font-style: normal;
  text-align: left;
  color: #f94d1c;
  margin-top: 61px;
}
.why-choose-us .container .header-tags .article-list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 1399px) {
  .why-choose-us .container .header-tags .article-list {
    justify-content: center;
    align-items: center;
  }
}
.why-choose-us .container .header-tags .article-list .article-content {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.why-choose-us .container .header-tags .article-list .article-icon {
  width: 25px;
  height: 26px;
  border-color: rgba(25, 25, 25, 0.1);
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  transform: translateY(-12px);
}
.why-choose-us .container .header-tags .article-list .text-content {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}
.why-choose-us .container .header-tags .article-list h3 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  font-style: normal;
  text-align: left;
  color: #191919;
}
.why-choose-us .container .header-tags .article-list p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  font-style: normal;
  text-align: left;
  color: rgba(25, 25, 25, 0.7);
}
.why-choose-us .container .why-choose-us-img .two-women-img {
  width: 645px;
  height: 505px;
  margin-left: 300px;
  margin-top: 88px;
  z-index: -1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1400px) {
  .why-choose-us .container .why-choose-us-img .two-women-img {
    display: none;
  }
}

.our-services {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.our-services .backround-swirl-lines {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}
.our-services .container {
  padding-top: 120px;
  position: relative;
}
.our-services .container .the-best-service {
  margin-left: 30px;
}
@media (max-width: 1400px) {
  .our-services .container .the-best-service {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.our-services .container .the-best-service p {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  font-style: normal;
  color: #F94D1C;
}
.our-services .container .the-best-service h2 {
  font-family: "DM Sans";
  font-size: 45px;
  font-weight: bold;
  line-height: 54px;
  font-style: normal;
  color: #191919;
}
@media (max-width: 650px) {
  .our-services .container .the-best-service h2 {
    font-size: 40px;
  }
}
.our-services .container .four-squares {
  display: flex;
}
@media (max-width: 1400px) {
  .our-services .container .four-squares {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 10px;
  }
}
@media (max-width: 770px) {
  .our-services .container .four-squares {
    display: none;
  }
}
.our-services .container .service-box {
  background-color: #ffffff;
  border: 1px solid #ccc;
  text-align: left;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 308px;
  height: 333px;
  margin-top: 48px;
  margin-left: 30px;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}
.our-services .container .service-box:hover {
  background-color: #f9d783;
  border: 1px solid #f9d783;
  color: #191919;
}
.our-services .container .service-box h3 {
  font-family: "DM Sans";
  font-weight: bold;
  font-style: normal;
  color: #191919;
  margin-top: 25px;
  white-space: nowrap;
  border-top: 1.5px solid #191919;
  width: 39px;
  padding-top: 40px;
}
.our-services .container .service-box p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  font-style: normal;
  color: rgba(25, 25, 25, 0.7);
}
.our-services .container .service-box .circle-arrow {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #191919;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  outline: none;
}
.our-services .container .service-box .circle-arrow #arrow {
  width: 26px;
  height: 26px;
}
.our-services .container .service-box:hover .circle-arrow {
  background-color: #FFFFFF;
  color: #191919;
}
.our-services .container .center-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-services .container .center-button .btn-transparent {
  margin-bottom: 119px;
  width: 221px;
  text-align: center;
}

.footer {
  background-color: #0E1021;
  position: relative;
  z-index: 0;
}
.footer .background-lines-white-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}
@media (max-width: 1170px) {
  .footer .background-lines-white-right {
    display: none;
  }
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .container .footer-logo-text {
  display: none;
}
@media (min-width: 1400px) {
  .footer .container .footer-logo-text {
    display: flex;
    flex-direction: column;
  }
}
.footer .container .footer-logo-text a {
  width: 168px;
  height: 54.3px;
  margin-bottom: 29px;
  margin-top: 100px;
}
.footer .container .footer-logo-text p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 26px;
  width: 309px;
  height: 125px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 111px;
}
.footer .container .footer-objects {
  display: flex;
  flex-direction: row;
}
@media (max-width: 1000px) {
  .footer .container .footer-objects {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.footer .container .footer-objects .footer-company {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .footer .container .footer-objects .footer-company {
    margin-left: -45px;
  }
}
.footer .container .footer-objects .footer-company h3 {
  width: 151.3px;
  height: 30px;
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  margin-top: 30px;
  margin-left: 105px;
  margin-bottom: 41px;
}
@media (max-width: 600px) {
  .footer .container .footer-objects .footer-company h3 {
    font-size: 15px;
  }
}
.footer .container .footer-objects .footer-company a {
  text-decoration: none;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 40px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 105px;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 600px) {
  .footer .container .footer-objects .footer-company a {
    font-size: 12px;
  }
}
.footer .container .footer-objects .footer-company a:hover {
  color: #f7b206;
}
.footer .container .footer-objects .footer-Help {
  display: flex;
  flex-direction: column;
}
.footer .container .footer-objects .footer-Help h3 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 38px;
  margin-left: 60px;
}
@media (max-width: 600px) {
  .footer .container .footer-objects .footer-Help h3 {
    font-size: 15px;
  }
}
.footer .container .footer-objects .footer-Help a {
  text-decoration: none;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 40px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 60px;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 600px) {
  .footer .container .footer-objects .footer-Help a {
    font-size: 12px;
  }
}
.footer .container .footer-objects .footer-Help a:hover {
  color: #f7b206;
}
.footer .container .footer-objects .footer-Resources {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .footer .container .footer-objects .footer-Resources {
    margin-left: -2px;
  }
}
.footer .container .footer-objects .footer-Resources h3 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 38px;
  margin-left: 63px;
}
@media (max-width: 600px) {
  .footer .container .footer-objects .footer-Resources h3 {
    font-size: 15px;
  }
}
.footer .container .footer-objects .footer-Resources a {
  text-decoration: none;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 40px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 65px;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 600px) {
  .footer .container .footer-objects .footer-Resources a {
    font-size: 12px;
  }
}
.footer .container .footer-objects .footer-Resources a:hover {
  color: #f7b206;
}
.footer .container .footer-objects .footer-Link {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .footer .container .footer-objects .footer-Link {
    margin-left: -45px;
  }
}
.footer .container .footer-objects .footer-Link h3 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  font-style: normal;
  text-align: left;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 36px;
  margin-left: 106px;
}
@media (max-width: 600px) {
  .footer .container .footer-objects .footer-Link h3 {
    font-size: 15px;
  }
}
.footer .container .footer-objects .footer-Link a {
  text-decoration: none;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 40px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 106px;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 600px) {
  .footer .container .footer-objects .footer-Link a {
    font-size: 12px;
    white-space: nowrap;
  }
}
.footer .container .footer-objects .footer-Link a:hover {
  color: #f7b206;
}

.footer-bottom {
  display: flex;
  background-color: #0E1021;
  position: relative;
}
.footer-bottom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-bottom .container .bottom-text p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  font-style: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 15px;
}
@media (max-width: 700px) {
  .footer-bottom .container .bottom-text p {
    font-size: 12px;
  }
}
.footer-bottom .container .social-media a {
  color: #ffffff;
  margin-left: 18px;
  font-size: 1.3em;
  transition: all 0.3s ease-in-out;
}
.footer-bottom .container .social-media a:hover {
  color: #f7b206;
}
@media (max-width: 800px) {
  .footer-bottom .container .social-media a {
    display: none;
  }
}
.footer-bottom .container::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}