html, body {
    font-family: "inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #191919;
}

.wrapper {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

.btn-yellow {
    background-color: #f9d783;
    border: 1px solid #f9d783;
    color: #191919;
    text-decoration: none;
    padding: 12px 25px;
    font-weight: 545;
    font-size: 16px;
    border-radius: 40px;
    transition: all .3s ease-in-out;

    #arrow {
        margin-left: 5px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }
}

.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 25px;
    font-weight: 545;
    font-size: 16px;
    border-radius: 40px;
    transition: all .3s ease-in-out;

    #arrow {
        margin-left: 5px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #f9d783;
        border: 1px solid #f9d783;
        color: #191919;
    }
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 12px 25px;
    font-weight: 545;
    font-size: 16px;
    border-radius: 40px;
    transition: all .3s ease-in-out;

    #arrow {
        margin-left: 5px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: #F0EFE9;
    }
}

.section-title {
    p {
        color: #F94D1C;
    }
    
    h2 {
        color: #191919;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 40px;
    }
}

.nav-section {
    background-color: #F0EFE9;
    display: flex;
    padding: 16px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 68px;

        .bars {
            font-size: 25px;
            background-color: transparent;
            border: none;

            @media (min-width: 992px) {
                display: none;
            }
        }

        .menu {
            display: none;
            flex: 1;

            @media (min-width: 992px) {
                display: block;
            }

            .top-menu {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                border-bottom: 1px solid #DAD9D3;
                padding-bottom: 10px;

                @media (min-width: 1400px) {
                    justify-content: space-between;
                }

                .contact-information {
                    display: none;
                    align-items: center;

                    @media (min-width: 1400px) {
                        display: flex;
                    }

                    .phone {
                        padding-right: 30px;
                        margin-right: 28px;
                        border-right: 1px solid #DAD9D3;
                        font-family: "Inter";
                        font-size: 1.2em;
                        color: #191919;
                        
                        a {
                            margin-right: 6px;
                            color: #191919;
                            transition: all .3s ease-in-out;

                            &:hover {
                                color: #f7b206;
                            }
                        }
                    }

                    .email {
                        padding-right: 30px;
                        margin-right: 29px;
                        border-right: 1px solid #DAD9D3;
                        font-family: "Inter";
                        font-size: 1.2em;
                        color: #191919;
                        
                        a {
                            margin-right: 9px;
                            color: #191919;
                            transition: all .3s ease-in-out;

                            &:hover {
                                color: #f7b206;
                            }
                        }
                        
                    }

                    .location {
                        font-family: "Inter";
                        font-size: 15px;
                        font-size: 1.2em;
                        color: #191919;

                        a {
                            margin-right: 8px;
                            color: #191919;
                            transition: all .3s ease-in-out;

                            &:hover {
                                color: #f7b206;
                            }
                        }
                    }
                }

                .social-media {
                    a {
                        color: black;
                        margin-left: 18px;
                        font-size: 1.3em;
                        transition: all .3s ease-in-out;

                        &:hover {
                            color: #f7b206;
                        }

                    }
                }
            }

            .main-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 10px;

                nav {
                    a {
                        display: inline-block;
                        color: #191919;
                        text-decoration: none;
                        margin-right: 38px;
                        position: relative;

                        &.active {
                            font-weight: 500;
                        }

                        &.active::after,
                        &:hover::after {
                            content: '';
                            position: absolute;
                            font-weight: 500;
                            height: 2px;
                            width: 15px;
                            background-color: #191919;
                            left: 50%;
                            bottom: -3px;
                            transform: translate((calc(50% - 15px)));
                        }

                    }
                }
            }

        }

    }
}

.showcase {
    background-color: #f0efe9;
    position: relative;
    z-index: 0;

    .background-lines {
        display: none;
        position: absolute;
        bottom: 0px;
        left: 0px;
        z-index: -1;

        @media (min-width: 860px) {
            display: block;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

    .content {
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;

        @media (min-width: 1200px) {
            text-align: left;
        }

        h1 {
            font-family: "DM Sans";
            font-size: 40px;
            font-weight: 700;
            color: #191919;

            @media (min-width: 768px) {
                font-size: 56px;
            }

            @media (min-width: 1400px) {
                font-size: 86px;
            }
        }

        p {
            font-size: 16px;
            margin-top: 35px;
            margin-bottom: 35px;
            padding-left: 10px;
            padding-right: 10px;
            color: rgba(25,25,25,0.7 );

            @media (min-width: 768px) {
                font-size: 20px;
                padding-left: 0;
                padding-right: 0;
            }
        }

        a {
            margin-right: 0px;
            display: block;
            margin-bottom: 20px;

            @media (min-width: 768px) {
                margin-right: 10px;
                display: inline-block;
            }
        }

    }   
        
        img {
        display: none;
        margin-right: -50px;

        @media (min-width: 1430px) {
            display: block;
        }
    }
  }
}

.our-services {
    background-color: #F0EFE9;
    position: relative;
    z-index: 0;

    .backround-swirl-lines {
        position: absolute;
        bottom: 0px;
        right: 0px;
        z-index: -1;
    }

    .container {
        padding-top: 120px;
        position: relative;

        .the-best-service {
            margin-left: 30px;

            @media (max-width: 1400px) {
                display: flex;
                justify-content: center;
                flex-direction: column;
            }

            p {
                font-family: "Inter";
                font-size: 18px;
                font-weight: 500;
                line-height: 22px;
                font-style: normal;
                color: #F94D1C;
            }

            h2 {
                font-family: "DM Sans";
                font-size: 45px;
                font-weight: bold;
                line-height: 54px;
                font-style: normal;
                color: #191919;

                @media (max-width: 650px) {
                    font-size: 40px;
                }
            }
        }

        .four-squares {
            display: flex;

            @media (max-width: 1400px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-items: center;
                align-items: center;
                gap: 10px;
            }

            @media (max-width: 770px) {
                display: none;
            }
        }

            .service-box {
                background-color: #ffffff;
                border: 1px solid #ccc;
                text-align: left; 
                padding: 20px; 
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                width: 308px;
                height: 333px;
                margin-top: 48px;
                margin-left: 30px;
                margin-bottom: 48px;
                display: flex;
                flex-direction: column;
                transition: all .3s ease-in-out;

                &:hover {
                    background-color: #f9d783;
                    border: 1px solid #f9d783;
                    color: #191919;
                }

                h3 {
                    font-family: "DM Sans";
                    font-weight: bold;
                    font-style: normal;
                    color: #191919;
                    margin-top: 25px;
                    white-space: nowrap;
                    border-top: 1.5px solid #191919;
                    width: 39px;
                    padding-top: 40px;
                }

                p {
                    font-family: "Inter";
                    font-size: 16px;
                    font-weight: normal;
                    line-height: 28px;
                    font-style: normal;
                    color: rgba(25,25,25,0.7 );
                }

                .circle-arrow {
                    width: 56px;
                    height: 56px;
                    border-radius: 50%;
                    background-color: #191919;
                    color: #FFFFFF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: auto;
                    outline: none;

                    #arrow {
                        width: 26px;
                        height: 26px;
                    }
                }
            }

            .service-box:hover .circle-arrow {
                background-color: #FFFFFF;
                color: #191919;
            }

        .center-button {
            display: flex;
            justify-content: center;
            align-items: center;

            .btn-transparent {
                margin-bottom: 119px;
                width: 221px;
            }
        }
    }    
}